*#
*.class
*.hprof
*.iml
*.ipr
*.iws
*.o
*.pb.cc
*.pb.h
*.pyc
*.so
*.sublime-project
*.swp
*.zip
*~
.#*
.build.properties
.cache
.cache-main
.classpath
.coverage*
.cproject
.DS_Store
.eclipse
.ensime
.ensime_lucene
.factorypath
.idea
.pids
.project
.pydevproject
.python
.settings
npm-debug.log
build
target/
dist/
env/
ivy/
lib/
out/
